[submodule "ihp13/pdk"]
	path = ihp13/pdk
	url = https://github.com/IHP-GmbH/IHP-Open-PDK
[submodule "vendor/register_interface"]
	path = vendor/register_interface
	url = https://github.com/pulp-platform/register_interface
